<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- import CSS -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<style type="text/css">
  html,body,#app,.el-container,.el-header,.el-main{
    padding: 0px;
    margin: 0px;
    height: 100%;
  }
</style>
</head>
<body>
  <div id="app">
    <el-container>
      <el-header>
        <el-menu class="el-menu-demo" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
          <el-menu-item index="1">Neural Style Transfer</el-menu-item>
        </el-menu>
      </el-header>
      <el-container>
        <el-aside>
          <el-row class="tac">
            <el-menu default-active="1" class="el-menu-vertical-demo">
              <el-menu-item index="1">
                <i class="el-icon-s-unfold"></i>
                <span>Transfer</span>
              </el-menu-item>
            </el-menu>
          </el-row>
        </el-aside>
        <el-main>
          <el-row style="margin-top: 50px; text-align: center;">
            <font size="18">Neural Style Transfer</font>
          </el-row>
          <el-row style="margin-top: 20px">
            <el-col :span="6" :offset="3" style="text-align: center;">
              <h1>Content Image</h1>
              <el-upload
                action="http://35.203.145.241/uploader/content"
                :on-preview="handlePreview"
                :on-success="handleSuccess_content"
                :on-remove="handleRemove_content"
                :file-list="content"
                list-type="picture"
                :multiple="false"
                :limit="1">
                <el-button size="small" type="primary">Click to upload</el-button>
              </el-upload>
            </el-col>
            <el-col :span="6" :offset="6" style="text-align: center;">
              <h1>Style Image</h1>
              <el-upload
                action="http://35.203.145.241/uploader/style"
                :on-preview="handlePreview"
                :on-success="handleSuccess_style"
                :on-remove="handleRemove_style"
                :file-list="style"
                list-type="picture"
                :multiple="false"
                :limit="1">
                <el-button size="small" type="primary">Click to upload</el-button>
              </el-upload>
            </el-col>
          </el-row>
          <el-row style="margin-top: 50px; text-align: center;"><h1>Which part of the image to transfer?</h1></el-row>
          <el-row style="margin-top: 5px;">
            <div style="text-align: center;">
            <el-radio-group v-model="radio">
              <el-radio label="face">Face</el-radio>
              <el-radio label="else">Except Face</el-radio>
              <el-radio label="all">All</el-radio>
            </el-radio-group>
            </div>
          </el-row>
          <el-row style="margin-top: 50px">
            <!--<el-col :span="4" :offset="10">-->
              <div style="text-align: center;">
              <el-button type="success" @click="transferImage">Generate</el-button>
              <el-button type="danger" @click="clearnImages">Clear</el-button>
              </div>
            <!--</el-col>-->
          </el-row>
          <el-row style="margin-top: 50px; text-align: center;"><h1>Result Image</h1></el-row>
          <el-row v-if="output_url" style="margin-top: 20px;">
            <div style="text-align: center;">
            <el-image :src="output_url" fit="contain" style="width: 960px; height:540px"></el-image>
            </div>
          </el-row>
        </el-main>
      </el-container>
    </el-container>
  </div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return {
        content: [],
        style: [],
        output_url: '',
        radio: 'all'
      }
    },
    methods: {
      handlePreview(file) {
        window.open(file.url, '_blank')
      },
      handleSuccess_content(response, file, fileList){
        this.content.push({
          'name': file.name,
          'url': file.url
        })
      },
      handleRemove_content(file, fileList) {
        this.content = []
      },
      handleSuccess_style(response, file, fileList){
        this.style.push({
          'name': file.name,
          'url': file.url
        })
      },
      handleRemove_style(file, fileList) {
        this.style = []
      },
      clearnImages(){
        this.content = []
        this.style = []
        this.output_url = ''
      },
      transferImage() {
        if (this.content.length === 0 || this.style.length === 0) {
          this.$message.error('Please upload first')
          return
        }
        var xhttp = new XMLHttpRequest()
        var comp = this
        const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        })
        var url = 'http://35.203.145.241/transfer?content=' + this.content[0].name + '&style=' + this.style[0].name + '&option=' + this.radio
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            comp.output_url = xhttp.responseText
            loading.close()
          }
        }
        xhttp.open('GET', url, true)
        xhttp.send()
      }
    }
  })
</script>
</html>
